*{
    margin: 0;
    color: black;
    font-family: 'Poppins';
    box-sizing: border-box;
}
    
body{
        overflow: hidden;
}
    
.navbar{
        margin-top: 10px;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
}
h1{
        animation: h1 0.5s linear 1;
}
@keyframes h1{
        from{
            opacity: 0;
            transform: translate(-100px , 0px);
        }
        to{opacity: 1;}
}
.list{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 48px;
        align-items: center;
}
    .active{
        color: #3685FB;
        font-weight: bold;
        text-shadow: 0px 0px 2px black;
    }
    a{
        text-decoration: none;
    }
    .home{
        animation-name: ko;
        animation-delay: 200ms;
        animation-duration:400ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        cursor: pointer;
    }
    .home:hover{
        color: #3685FB;   
        text-shadow: 1px 1px 1px black;
    }
    .About{
        cursor: pointer;
        opacity: 0;
        animation-name: ko;
        animation-delay: 400ms;
        animation-duration:  400ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .About:hover{
        color: #3685FB;   
        text-shadow: 1px 1px 1px black;
    }
    .Reveiw{
        cursor: pointer;
        animation-name: ko;
        animation-delay: 600ms;
        animation-duration:  400ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .Reveiw:hover{
        color: #3685FB;
        text-shadow: 1px 1px 1px black;
    }
    .Featured{cursor: pointer;
        animation-name: ko;
        animation-delay:800ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .Featured:hover{
        color: #3685FB;
        text-shadow: 1px 1px 1px black;
    }
    .Contact{cursor: pointer;
        animation-name: ko;
        animation-delay: 1000ms;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-fill-mode:forwards;
        opacity: 0;
    }
    .Contact:hover{
        color: #3685FB;
        text-shadow: 1px 1px 1px black;
    }
    @keyframes ko{
        from{
        transform: translate(0 , 70px);
        }
        to{
        opacity: 1;
        }
    }
    .sociallist{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 48px;
        align-items: center;
    }
    .icon1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px ;
        Height :40px ;
        animation-name: ic;
        animation-duration: 0.2s;
        animation-delay:0.2s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        border-radius: 50px;
        cursor: pointer;
        background-color: #3685FB;

    }
    .icon1:hover{
        box-shadow: 1px 1px 20px black; 
    }
    .icon2{  display: flex;
        justify-content: center;
        background-color: #3685FB;
        align-items: center;
        width: 40px ;
        Height :40px ;
        animation-name: ic;
        animation-duration: 0.2s;
        animation-delay:0.4s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        cursor: pointer;
        border-radius: 50px;
    }
    .icon2:hover{
        box-shadow: 1px 1px 20px black; 
    }
    .icon3{  display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 40px ;
        Height :40px ;
        animation-name: ic;
        animation-duration: 0.2s;
        animation-delay:0.6s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        cursor: pointer;
        background-color: #3685FB;

    }
    .icon3:hover{
        box-shadow: 1px 1px 20px black; 
    }
    @keyframes ic{
        from{
            opacity: 0;
            transform: translate(100px , 0px);
        }
        to{opacity: 1;}
    }
    
    .con{
        display: flex;
        justify-content: space-between;
        margin:200px 100px 0px 100px;
        
    }
    .hero{
        width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    h2{
        font-size: 50px;
        animation-name: mohab;
        animation-duration: 0.25s;
        animation-delay:0.25s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @keyframes mohab {
        from{
            opacity: 0;
            transform: translate(0px ,-50px );
        }
        to{
            opacity: 1;
        }
    }



    h3{
        font-size: 30px;
        color: #3685FB;
        margin-bottom:10px ;
        animation-name: pergo;
        animation-duration: 0.5s;
        animation-delay:0.5s ;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @keyframes pergo {
        from{
            opacity: 0;
            transform: translate(-100px ,0 );
        }
        to{
            opacity: 1;
        }
    }

    p{
    margin-bottom:20px ;
    animation-name: prg;
    animation-duration: 0.75s;
    animation-delay:0.75s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    }
    p::selection{
        color: black;
        background-color: red;
    }
@keyframes prg {
    from{
        opacity: 0;
        transform: translate(100px ,0 );
    }
    to{
        opacity: 1;
    }
}


button{
    background-color: #3685FB;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: aliceblue;
    animation-name: btn;
    animation-duration: 1s;
    animation-delay:1s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
button:hover{box-shadow: 1px 1px 10px black;}        

@keyframes btn {
    from{
        opacity: 0;
        transform: translate(0 , 50px);
    }
    to{
        opacity: 1;
    }
}


    .animation{
        display: flex;
        position: relative;
        z-index: -1;
    }
    .car{
        position: relative;
        width: 100%;
        perspective: 900px;
    }
    img{
        width: 700px;
        animation-name:dd ;
        animation-delay: 1300ms;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        opacity: 0;
    

    }
    @keyframes dd{
        0%{
            transform: translate3d(1500px,250px,-5000px);
            opacity: 0;
        }
        25%{
            
            opacity: 0.25;
        }
        50%{
            opacity: 0.5;
        }
        75%{
            opacity: 0.75;
        }
        100%{
            opacity: 1;
            transform: translate3d(-10px, 45px, -90px);
    
        }
    
    }
    .morr{

        width:550px;
        height:550px;
        transform:rotate(45deg) scale(0.9);
        border: 30px solid #3685FB;
        background-color: aliceblue;
        box-shadow: 1px 1px 10px black;
        position: absolute;
        z-index: -1;
        top:-20%;
        right:7%;
        animation-name: aa;
        animation-duration: 0.6s;
        animation-delay: 0.7s;
        animation-iteration-count: 1;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes aa{
        from{
            opacity: 0;
            transform: rotate(45deg) scale(1);
        }
        to{ opacity: 1;
            transform:rotate(45deg) scale(0.9);
    }
    }
    .baz{
        width: 600px;
        height: 1000px;
        rotate: 315deg;
        background-color: #3685FB;
        position: absolute;
        top: -125%;
        right: -40%;
        z-index: -2;
        animation-name: boz;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
    }
    @keyframes boz{
        from{
           opacity: 0;
           transform: translate(300px ,10px);
        }
        to{
            opacity: 1;
        }
    }

    @media (max-width:600px){
    body{
        overflow: auto;
    }
        .navbar{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 20px 0px;
        }
        .list{
            gap: 15px;
            font-size: 15px;
        }
        
        .con{
            display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:10px 0px 0px 10px;
        }   
         h2{
            font-size: 25px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
        button{
            font-size: 15px;
            width: fit-content;
        }
        .animation{
            display: flex;
            height: 540px;
            overflow: hidden;
        }
        .car{
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 195px;
            right: 20px;
            perspective: 700px;
            
        }
        img{   
        width: 250px; 
        position: relative;
        top: -25px;
        }
        .morr{
            width: 220px;
            height:220px;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 165px;
            right: 40px;
            border: 15px solid #3685fb;
        }
        .baz {


            width: 370px;
            height: 1000px;
            position: absolute;
            top: -115px;
            right: -455px;
        }
     
    }



    @media (min-width:601px) and (max-width:768px){
        .navbar{
            margin-top: 10px;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
            gap: 10px;
    }
    .list{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 10px;
        align-items: center;
} .sociallist{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.icon1{
    width: 25px ;
    Height :25px ;
    border-radius: 5px;
}
.icon2{
    width: 25px ;
    Height :25px ;
    border-radius: 5px;
}
.icon3{
    width: 25px ;
    Height :25px ;
    border-radius: 5px;
} .con{
    display: flex;
    justify-content: space-between;
    margin:50px 0px 0px 10px;
    overflow: hidden;
}
.animation{
    height: 500px;
}

h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 10px;
}
button{
    width: 150px;
    padding: 10px;
    font-size: 15px;
} .car{
    position: relative;
    width: 100%;
    perspective: 900px;
}
img{
    width: 280px;
    top: 30%;
    position: relative;
}
.morr{
    width: 200px;
    height: 200px;
    border: 10px solid #3685FB;
    position: absolute;
    z-index: -1;
    top: 30%;
    right: 10%;
}
.baz{
    width: 500px;
    height: 1000px;
    position: absolute;
    top: -35%;
    right: -210%;
}

    }